# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
Pipfile.lock

# Environment variables
.env
.env.*

# Flask cache files
instance/
.webassets-cache

# IDE/editor folders
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# Docker
*.log
docker-compose.override.yml
Dockerfile*
*.pid

# Pytest
.pytest_cache/

# Logs
logs/
*.log
