{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="hero">
    <h1>Flask Test App for Shard!</h1>
    <p>If you are here, it shows that deployment works.</p>
</div>

<div class="card env-card">
    <h2>Environment Variables</h2>
    <div class="env-vars">
        <div class="env-item">
            <span class="env-label">Platform:</span>
            <span class="env-value">{{ env.platform_name }}</span>
        </div>
        <div class="env-item">
            <span class="env-label">Environment:</span>
            <span class="env-value">{{ env.environment }}</span>
        </div>
        <div class="env-item">
            <span class="env-label">Version:</span>
            <span class="env-value">{{ env.version }}</span>
        </div>
    </div>
</div>
{% endblock content %}